.card{
    margin: 10px;
    width: 80vw;
    min-width: 250px;
    max-width: 400px;
    height: fit-content;
    padding: 1rem;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    background-color: var(--accent-color);
    color: white;
}

.upper{
    display: flex;
    flex-direction: column;
}

.lower{
    display: flex;
    justify-content: space-between;
    align-items: end;
}