:root {
  --background-color: #000;  /* Dark theme default */
  --text-color: #fff;
  --accent-color: #ddd;
  /* Add more variables for specific elements */
}


body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
